
#content{
  background-color: lightgreen;
  padding: 60px;
  width: auto;
  height: auto;
  border: solid;
}

#floated {
  font-size: 18px;
  display: block;
  position: fixed;
  left: 1200px;
  width: 30%;
}

#center-horz {
display: block;
margin-left: auto;
margin-right: auto;
border: 3px solid black;
width: 30%;
text-align: center;
}


#center-img {
text-align: center;
border: 3px solid black;
margin-left: auto;
margin-right: auto;
padding: 30px;
width: 30%;
}

#center-both {
  display: block;
  border: 3px solid black;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
}



body {
  background-color: lightblue;
}
